services:
  mosquitto:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: always
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mqtt_broker/config:/mosquitto/config

  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      # Initialisation automatique (optionnel mais pratique)
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin
      - DOCKER_INFLUXDB_INIT_ORG=mes_bureaux
      - DOCKER_INFLUXDB_INIT_BUCKET=salles
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mon-super-token-admin
    restart: always